@using IntroMvcDemo.DataAccess.Models
@model IEnumerable<Artist>

@{
    ViewBag.Title = "Index";
}

<h2>Artist List</h2>

<ul>
    @foreach (var artist in Model)
    {
        @Html.Partial("_Artist", artist)
    }
</ul>