USE [master]
GO
/****** Object:  Database [IntroMvcDemo]    Script Date: 10/26/2013 11:06:00 PM ******/
CREATE DATABASE [IntroMvcDemo] ON  PRIMARY 
( NAME = N'IntroMvcDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\IntroMvcDemo.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IntroMvcDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\IntroMvcDemo_log.LDF' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IntroMvcDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IntroMvcDemo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/26/2013 11:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Album]    Script Date: 10/26/2013 11:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ArtistId] [int] NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Album] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Artist]    Script Date: 10/26/2013 11:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artist](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Artist] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/26/2013 11:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[StreetAddress] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[ZipCode] [nvarchar](16) NULL,
 CONSTRAINT [PK_dbo.Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 10/26/2013 11:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderSongs]    Script Date: 10/26/2013 11:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderSongs](
	[Order_Id] [int] NOT NULL,
	[Song_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OrderSongs] PRIMARY KEY CLUSTERED 
(
	[Order_Id] ASC,
	[Song_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Song]    Script Date: 10/26/2013 11:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Song](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](256) NULL,
	[Duration] [time](7) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Genre] [nvarchar](64) NULL,
	[TinySongLink] [nvarchar](64) NULL,
	[AlbumId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Song] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Album] ON 

GO
INSERT [dbo].[Album] ([Id], [Name], [ArtistId], [ImagePath]) VALUES (1, N'Lost Angel [Bonus Track]', 1, N'3rd Strike\Lost Angel [Bonus Track]\folder.jpg')
GO
INSERT [dbo].[Album] ([Id], [Name], [ArtistId], [ImagePath]) VALUES (2, N'eMOTIVe', 2, N'A Perfect Circle\eMOTIVe\folder.jpg')
GO
INSERT [dbo].[Album] ([Id], [Name], [ArtistId], [ImagePath]) VALUES (3, N'Mer de Noms', 2, N'A Perfect Circle\Mer de Noms\folder.jpg')
GO
SET IDENTITY_INSERT [dbo].[Album] OFF
GO
SET IDENTITY_INSERT [dbo].[Artist] ON 

GO
INSERT [dbo].[Artist] ([Id], [Name]) VALUES (1, N'3rd Strike')
GO
INSERT [dbo].[Artist] ([Id], [Name]) VALUES (2, N'A Perfect Circle')
GO
INSERT [dbo].[Artist] ([Id], [Name]) VALUES (3, N'Alestorm')
GO
SET IDENTITY_INSERT [dbo].[Artist] OFF
GO
SET IDENTITY_INSERT [dbo].[Song] ON 

GO
INSERT [dbo].[Song] ([Id], [Title], [Duration], [Price], [Genre], [TinySongLink], [AlbumId]) VALUES (1, N'Flow Heat', CAST(0x0700860E70000000 AS Time), CAST(0.99 AS Decimal(18, 2)), N'Metal', N'http://tinysong.com/CA18', 1)
GO
INSERT [dbo].[Song] ([Id], [Title], [Duration], [Price], [Genre], [TinySongLink], [AlbumId]) VALUES (2, N'Walked Away', CAST(0x078049D871000000 AS Time), CAST(0.99 AS Decimal(18, 2)), N'Metal', N'http://tinysong.com/lKFe', 1)
GO
INSERT [dbo].[Song] ([Id], [Title], [Duration], [Price], [Genre], [TinySongLink], [AlbumId]) VALUES (3, N'Redemption', CAST(0x0780A07E88000000 AS Time), CAST(0.99 AS Decimal(18, 2)), N'Metal', N'http://tinysong.com/r3ca', 1)
GO
SET IDENTITY_INSERT [dbo].[Song] OFF
GO
/****** Object:  Index [IX_ArtistId]    Script Date: 10/26/2013 11:06:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_ArtistId] ON [dbo].[Album]
(
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerId]    Script Date: 10/26/2013 11:06:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerId] ON [dbo].[Order]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_Id]    Script Date: 10/26/2013 11:06:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_Id] ON [dbo].[OrderSongs]
(
	[Order_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Song_Id]    Script Date: 10/26/2013 11:06:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Song_Id] ON [dbo].[OrderSongs]
(
	[Song_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AlbumId]    Script Date: 10/26/2013 11:06:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_AlbumId] ON [dbo].[Song]
(
	[AlbumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Album_dbo.Artist_ArtistId] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artist] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [FK_dbo.Album_dbo.Artist_ArtistId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Order_dbo.Customer_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_dbo.Order_dbo.Customer_CustomerId]
GO
ALTER TABLE [dbo].[OrderSongs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderSongs_dbo.Order_Order_Id] FOREIGN KEY([Order_Id])
REFERENCES [dbo].[Order] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderSongs] CHECK CONSTRAINT [FK_dbo.OrderSongs_dbo.Order_Order_Id]
GO
ALTER TABLE [dbo].[OrderSongs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderSongs_dbo.Song_Song_Id] FOREIGN KEY([Song_Id])
REFERENCES [dbo].[Song] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderSongs] CHECK CONSTRAINT [FK_dbo.OrderSongs_dbo.Song_Song_Id]
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Song_dbo.Album_AlbumId] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Album] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [FK_dbo.Song_dbo.Album_AlbumId]
GO
USE [master]
GO
INSERT INTO [dbo].[Customer]
           ([FirstName]
           ,[LastName]
           ,[StreetAddress]
           ,[City]
           ,[State]
           ,[ZipCode])
     VALUES
           ('Justin'
           ,'Wendlandt'
           ,'1600 Utica Ave South'
           ,'St. Louis Park'
           ,'MN'
           ,'55439')
GO
